<!DOCTYPE html>
<html>
<head>
<link href="../css/main.css" rel="stylesheet"/>
</head>
<body>
{{>header}}
<h1>I am running application !</h1>
<Label>{{user.name}}</Label>
<Label>{{user.email}}</Label>
<Label>{{user.age}}</Label>

{{>footer}}
</body>
</html>
